/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Font Size Across Entire Webpage */
html {
  font-size: 10px;

}

/* Headings and Body Font Styling*/
.montserrat-regular, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans-300 {
  font-family: "Merriweather Sans", serif;
  font-weight: 300;
  font-style: normal;
  
}

.merriweather-sans-600 {
  font-family: "Merriweather Sans", serif;
  font-weight: 600;
  font-style: normal;
  
}

.merriweather-sans-800 {
  font-family: "Merriweather Sans", serif;
  font-weight: 800;
  font-style: normal;
  
}


/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "Merriweather Sans", serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
header > h1 {
  font-size: 3rem;
}

body {
  line-height: 1.5em;
  word-spacing: 0.1em;
}

header {
  text-align: center;
  letter-spacing: 0.15em;
}

section > p{
  text-indent: 2rem;
}

a {
  outline: none;

  &:link {
    color: #a66;
    &::after {
      display: inline-block;
      content: "";
      background-image: url("./external-link-52.png"); /* an image to indicate an external link always appears after a hyperlinks content has been displayed */
      background-size: 1em 1em;
      background-repeat: none;
      background-position: center center;
      width: 1em;
      height: 1em;
      margin: 0.2em;
    }

  }
  &:active, &:hover, &:focus {
    color: rgb(230, 162, 162);
    text-decoration: none;
  }
  &:visited {
    color: rgb(116, 63, 63);
  }
}

ul {
  list-style: square;
  line-height: 1.75em;
  padding: 1em 2em;
}

ol {
  line-height: 1.75em;
}

nav > ul {
  list-style: none;
  font-family: "Montserrat", serif; /* navigation unordered list has serif font applied to it */
  font-weight: 400;
  font-style: normal;

  li {


    margin-bottom: 1.5em;

    a:link { 
      display: block; /* link is made a block level element */
      text-decoration: none;
      border: 1px solid #a66; /* Adds border to each hyperlink */
      padding: 1.5em 2em;
      text-align: center;

      &:after {
        background: none;
      }

      &:active, &:hover, &:focus {
        background-color: #a66;
        color: #fff;
      }

    }
  }

}