@


/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
header > h1 {
  font-size: 3rem;
}

body {
  line-height: 1.5em;
  word-spacing: 0.1em;
}

header {
  text-align: center;
  letter-spacing: 0.25em;
}

section > p{
  text-indent: 2.25rem;
}

a {
  outline: none;

  &:link {
    color: #a66;
    &::after

  }
  &:active, &:hover, &:focus {
    color: rgb(230, 162, 162);
    text-decoration: none;
  }
  &:visited {
    color: rgb(116, 63, 63);
  }
}

ul {
  list-style: square;
  line-height: 1.75em;
}

ol {
  line-height: 1.75em;
}

nav > ul {
  list-style: none;

  a:link {
    display: block;
    text-decoration: none;
    border: 1px solid #a66;

    &:after {
      background: none;
    }

  }

}