@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Regular.woff2') format('woff2'),
        url('MerriweatherSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

